/* importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lexend+Exa:wght@100..900&display=swap');

/* custom properties */
:root {
  --base_color: #abcda5;
  --primary_color: #d5d5d5;
  --accent_color: #658b67;
  --footer_color: #cce6c8;
  --background_color: #f5f7f9;
  --heading_font: "Lexend Exa", Arial, sans-serif;
  --body_font: Archivo, Arial, sans-serif;
}

/* images */

.aboutImg {
  width: 25%;
  height: 500px;
  background-image: url("/images/kelli.png");
  background-size: cover;
  transition: background-image 1s ease;
}

.aboutImg:hover {
  background-image: url("/images/olsen_wedding.webp");
}

/* .hero {
  width: 75%;
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
} */

/* chat button in bottom right corner */
.chat_button {
    background-color: var(--accent_color);
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
    position: fixed;
    right:    0;
    bottom:   0;
    margin-bottom: 1%;
    margin-right: 1%;
}

.chat_button:hover {
  background-color: var(--base_color);
}

/* title animation */

.container {
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  margin-top: 10%;
}

.row {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.text1 {
  font-family: var(--heading_font);
  display: block;
  color: var(--base_color);
  font-size: 100px;
  margin-top: 5%;
  margin-bottom: 20px;
  position: relative;
  animation: text1 3s 1;
  text-align: center;

}

.text2 {
  font-family: var(--heading_font);
  font-size: 30px;
  color: var(--base_color);
  animation: text2 3s 1;
  word-spacing: 75px;
}

@keyframes text1 {
  0% {
    margin-bottom: 5px;
  }
  30% {
    letter-spacing: 5px;
    margin-bottom: 5px;
    color: #cfe4cc;
  }
  85% {
    letter-spacing: 2px;
    margin-bottom: 0px;
  }
}

@keyframes text2 {
  0% {
    word-spacing: 0px;
    color: white;
  }

  50% {
    word-spacing: 3px;
    margin-bottom: -10px;
  }
  85% {
    word-spacing: 5px;
    color: #bee1b9;
  }
}

/* Image Carousel */

.carousel {
  position: sticky;
  max-width: 600px;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
  width: 50%;
  height: 100%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  color: var(--base_color);
  background-color: white;
  border: none;
  font-size: 50px;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-control:hover {
  color: var(--accent_color);
}

/* Sizing */
/* 800px and down */
@media (max-width: 800px) {

}

/* 800px and up */
@media (min-width: 800px) {

}

#definition_section{
  display: grid;
  grid-template-columns: .05fr .5fr 1fr .05fr;
  background-color: #cce6c8; 
}

#definition_section h1{
  vertical-align: middle;
  text-align: right;
  grid-column: 2/3;
  padding: 30px 0px;
}

#definition_section p{
  grid-column: 3/4;
  text-align: left;

  padding: 10px 20px;
}
/* Support Services and Free Consultation Grid */
/* #sscs_grid {
  display: grid;
  grid-template-columns: auto auto;

}
#support_services_section{
  grid-column: 1/2;
}
#consultation_section{
  grid-column: 2/3;
} */
 #packages_section{
  text-align: center;  
 }
 #packages_section p{
  padding: 0 450px 45px;

}